files/.config/tmux/
!.config/tmux/tmux.conf

files/.config/helix/
!files/.config/helix/config.toml
!files/.config/helix/languages.toml

files/.config/git/
!files/.config/git/config

files/.config/zsh/
!files/.config/zsh/.zshrc
!files/.config/zsh/completion.zsh
